#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}
.field-style {
    padding: 10px;
    width: 300px;
}
#reg-btn {
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    border: none;
}
#reg-btn:hover {
    cursor: pointer;
}
.box-style {
    margin-bottom: 10px;
}
.error-msg-box {
    margin-top: 5px;
    color: red;
    font-size: 15px;
}
.link-style {
    text-decoration: none;
}
.link-style:hover {
    text-decoration: underline;
}
.flash-msg-box {
    padding: 20px;
    font-size: 18px;
}
.flash-success {
    background-color: lightgreen;
}