#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}
.field-style {
    padding: 10px 10px 10px 22px;
    width: 300px;
}
#reg-btn, #log-btn {
    padding: 10px;
    color: white;
    background-color: lightseagreen;
    border: none;
}
#reg-btn:hover, #log-btn:hover {
    cursor: pointer;
}
.box-style {
    margin-bottom: 10px;
}
.error-msg-box {
    margin-top: 5px;
    color: red;
    font-size: 15px;
}
.link-style {
    text-decoration: none;
}
.link-style:hover {
    text-decoration: underline;
}
.flash-msg-box {
    padding: 10px;
    font-size: 18px;
    position: absolute;
    width: 100%;
    top: 0;
}
.flash-success {
    background-color: lightgreen;
}
.password-field-container, .auth-form-field {
    position: relative;
}
.password-eye-box {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.password-eye-box img {
    width: 18px;
}
.password-eye-box img:hover {
    cursor: pointer;
}
.box-style i {
    position: absolute;
    left: 5px;
    top: 11px;
}